1. What are data structures, and why are they important?
- Data structures are ways to organize, manage and store data efficiently for easy access and modification. They are important because they optimize algorithms, improve performance, and make complex tasks easier to handle.

2. Explain the difference between mutable and immutable data types with examples.
- Mutable data types can be changed after creation(e.g. lists, dictionaries) Immutable data types cannot be changed after creation(e.g. strings,tuples)
3. What are main difference between lists and tuples in pyton?
- Lists are mutable, tuples are immutable
- Lists use more memory and are slower, tuples are memory efficient and faster
4. Describe how dictionaries store data?
- Dictionaries store data as key value pairs in a hash table, where key are unique and used to access corresponding values.
5. What might you use a set instead of a list ?
- Sets are used for unique, unordered data and provide faster membership testing compared to lists.
6. What is string in pyton, and how is oit different from a list?
- A string is a sequence of charecters, immutable and used for text data. Lists are mutable and can store elements of different types.
7. How do tuples ensure data integrity in pyton
- Tuples are immutable, ensuring that their contents cannot be altered, making them suitable for fixed data.
8. What is a hash table, and how does it relate to dictionaries in pyton?
- A hash table is a data structures that maps keys to value using a hash function. Python dictionaries are implememted using hash tables.
9. Can lists contain different data types in python?
- Yes, Python lists can store elements of mixed data types.
10. Explain why strings are immutable in python.
_ Strings are immutable to ensure thread safety, optimize performance through interning, and allow for hash based operations like using them as a dictionary keys.
11. What advantages do dictionaries offer overlists for certain tasks?
- Dictionaries provide faster lookups using keys, while lists require searching by index or iterating through elements.
12. Describe scenario where using a tuple would be preferable over a lists.
- Tuples are preferable for representing fixed collections like coordinates (x, y) or database records that shouldnt change.
13. How do sets handle duplicate values in python?
- Sets automatically remove duplicate values, ensuring each elements in unique.
14. How does the "in" keyword work differently for lists and dictinaries.
- In lists, it checks for the presence of a value.
- In dictionaries, it checks for the presence of a key.
15. Can you modify the elements of a tuple? Explain why or not.
- No, Tuples are immuatable, meaning their elements cannot be modified after creation.
16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary within a dictionary.
Ex: Storing student data,
{"student 1": {"name": "John":,"age":20},
{"student 2": {"name": "Jane":,"age":22},
17. Describe the time complexity of accessing elements in a dictionary.
- Assessing elements in a dictionary has an average time complexity of 0(1) due to hash table implementation.
18. In what situstions are lists prefered over dictionaries?
- Lists are preferred when order matters or when dealing with sequential data without key value relationships.
19. Why are dictionaries considered unordered, and how does that a affects data retrival?
- Dictionaries before pyton 3.7 did not guarantee order. Data retrival depends on keys, not order, which optimizes performance but doesn't allow indexing.
20. Explain the difference between a lists and dictionary in terms of data retrival.
- Lists: Retrive data by index.
- Dictionaries: Retrive data by key.

Practical Quetions.
1. Write a code to create a string with your name and print it:

In [5]:
name = "Gangaram"
print(name)

Gangaram

2. Write a code to find the length of the string" Hello World"

In [6]:
string = "Hello World"
print(len(string))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [7]:
string = "Python Programming"
print(string[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase

In [8]:
string = "hello"
print(string.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [9]:
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [10]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [11]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [12]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [13]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [14]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [15]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry'):

In [16]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2):

In [17]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit'):

In [18]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana'):

In [19]:
fruits = ('apple', 'orange', 'banana')
print('banana' in fruits)

True

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it:

In [20]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}:

In [21]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18. Create a tuple with elements 10, 20, 30 and print it:

In [23]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

19. Access the first element of the tuple ('apple', 'banana', 'cherry'):

In [24]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

20. Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2):

In [25]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

21. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit'):

In [26]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

22. Check if the element "banana" is in the tuple ('apple', 'orange', 'banana'):

In [27]:
fruits = ('apple', 'orange', 'banana')
print('banana' in fruits)

True

23. Create a set with elements 1, 2, 3, 4, 5 and print it

In [28]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

24. Add the element 6 to the set {1, 2, 3, 4}

In [29]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}